.page_not_found {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--cream);
  height: calc(100vh - 4.5rem);
}

@media screen and (width <=390px) {
  .page_not_found {
    text-align: center;
    transform: scale(0.5) translate(-7.5rem);
    width: 120%;
  }
}
