.credentials {
  composes: credentials from '../Authentication/index.module.css';

  button {
    width: 9rem;
  }

  p {
    &.active {
      color: var(--strong-red);
      cursor: default;
      font-weight: bold;
      text-shadow: none;
      width: 40rem;
    }

    &.inactive {
      display: none;
    }
  }

  .spacer {
    height: 1rem;
  }

  .doublespacer {
    height: 2rem;
  }
}

@media screen and (width <=1194px) {
  .credentials {
    transform: scale(0.9);
  }
}

@media screen and (width <=1024px) {
  .credentials {
    transform: scale(0.8);
  }
}

@media screen and (width <=932px) {
  .credentials {
    transform: scale(0.6);
  }
}

@media screen and (orientation: portrait) and (width <=1194px) {
  .credentials {
    transform: scale(0.9);
  }
}

@media screen and (width <=430px) {
  .credentials {
    transform: scale(0.5);
  }
}
