.hexagon_ui {
  position: absolute;
  -webkit-animation: fade-in 1.5s ease-out forwards;
  animation: fade-in 1.5s ease-out forwards;
  background: var(--light-taupe);
  border: var(--thick-grey-border);
  border-radius: var(--border-radius);
  cursor: default;
  left: 1rem;
  line-height: 1.4;
  padding: 1rem 1.5rem;
  top: 5.4rem;
  width: 18rem;

  button {
    background: var(--white);
    border: var(--thick-grey-border);
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1.7rem;
    height: 3.5rem;
    text-align: center;
    width: 100%;

    &.button_text {
      padding-top: 0.2rem;
    }

    &:hover {
      background: var(--dark-taupe);
      color: var(--white);
      text-shadow: var(--black-text-shadow);
    }

    &:nth-child(3) {
      margin-top: 0.5rem;
    }

    &:last-child {
      margin-top: 0.8rem;
    }
  }

  h1 {
    font-size: 1.9rem;
    font-weight: bold;
    text-align: center;
    text-shadow: var(--cream-text-shadow);
  }

  input {
    cursor: pointer;
    width: 100%;
  }

  output,
  .mouseover {
    color: var(--white);
    text-shadow: var(--black-text-shadow);
  }

  .mouseout {
    text-shadow: var(--cream-text-shadow);
  }

  .header_hr {
    margin-top: 0.2rem;
  }

  .slider_hr {
    margin-bottom: 0.8rem;
    margin-top: 0.6rem;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (width <=1920px) {
  .hexagon_ui {
    left: 0;
    top: 2.9rem;
    transform: scale(0.9);
  }
}

@media screen and (width <=1280px) {
  .hexagon_ui {
    left: -1rem;
    top: 0.4rem;
    transform: scale(0.8);
  }
}

@media screen and (orientation: landscape) and (width <=1024px) {
  .hexagon_ui {
    left: -2.3rem;
    top: -2.3rem;
    transform: scale(0.7);
  }
}

@media screen and (orientation: landscape) and (width <= 932px) {
  .hexagon_ui {
    left: -4.7rem;
    top: -7.4rem;
    transform: scale(0.5);
  }
}

@media screen and (orientation: landscape) and (width <= 844px) {
  .hexagon_ui {
    left: -5.1rem;
    top: -8.5rem;
    transform: scale(0.45);
  }
}

@media screen and (orientation: landscape) and (width <= 740px) {
  .hexagon_ui {
    left: -5.2rem;
    top: -8.6rem;
  }
}

@media screen and (width <=430px) {
  .hexagon_ui {
    left: -3.6rem;
    top: -4.9rem;
    transform: scale(0.6);
  }
}

@media screen and (width <=395px) {
  .hexagon_ui {
    left: -4.2rem;
    top: -6.2rem;
    transform: scale(0.55);
  }
}

@media screen and (width <=360px) {
  .hexagon_ui {
    left: -4.7rem;
    top: -7.5rem;
    transform: scale(0.5);
  }
}
