.credentials {
  -webkit-animation: fade-in 1s ease-out forwards;
  animation: fade-in 1s ease-out forwards;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-80%, -80%);
  width: 40rem;
}

.credentials a {
  background-color: var(--taupe);
  border: var(--thick-grey-border);
  border-radius: var(--border-radius);
  color: var(--white);
  left: 50%;
  padding: 1rem 0;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-shadow: var(--black-text-shadow);
  transform: translate(-50%, 0);
  width: 20rem;
}

.credentials a:hover {
  background-color: var(--dark-taupe);
}

.credentials button {
  border: var(--grey-border);
  border-radius: var(--border-radius);
  cursor: pointer;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  width: 7rem;
}

.credentials button:hover {
  background-color: var(--dark-taupe);
  color: var(--white);
  text-shadow: var(--black-text-shadow);
}

.credentials div.spacer {
  height: 1rem;
}

.credentials div.doublespacer {
  height: 2rem;
}

.credentials fieldset {
  background-color: var(--taupe);
  border: var(--thick-grey-border);
  border-radius: var(--border-radius);
  padding: 0.5rem 0;
  text-align: center;
}

.credentials h1 {
  cursor: default;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0.5rem;
  text-shadow: var(--cream-text-shadow);
}

.credentials input {
  padding-left: 0.5rem;
  width: 26rem;
}

.credentials label {
  padding-right: 1rem;
}

.credentials p {
  background-color: var(--taupe);
  border: var(--thick-grey-border);
  border-radius: var(--border-radius);
  color: var(--white);
  left: 50%;
  padding: 1rem 0;
  position: absolute;
  text-align: center;
  text-shadow: var(--black-text-shadow);
  transform: translate(-50%, -50%);
  width: 20rem;
}

.credentials p.active {
  color: var(--strong-red);
  cursor: default;
  font-weight: bold;
  text-shadow: none;
  top: -5.8rem;
  width: 40rem;
}

.credentials p.inactive {
  display: none;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (width <= 3840px) {
  .credentials {
    transform: scale(1.5) translate(-30%, -30%);
  }
}

@media screen and (width <= 2560px) {
  .credentials {
    transform: scale(1.3) translate(-35%, -30%);
  }
}

@media screen and (width <= 1920px) {
  .credentials {
    transform: scale(1.1) translate(-40%, -35%);
  }
}

@media screen and (width <= 884px) and (height <= 1280px), (width <= 1280px) and (height <= 884px) {
  .credentials {
    transform: scale(1) translate(-50%, -40%);
  }
}

@media screen and (width <= 430px) and (height <= 1024px), (width <= 1024px) and (height <= 430px) {
  .credentials {
    transform: scale(0.6) translate(-85%, -70%);
  }
}
