:root {
  --archivo: archivo, sans-serif;
  --michroma: michroma, sans-serif;
  --border-radius: 0.5rem;
  --black: rgb(0 0 0);
  --black-alpha-30: rgba(0 0 0 / 30%);
  --cream: rgb(230 220 210);
  --grey: rgb(187 187 187);
  --strong-red: rgb(192 0 0);
  --taupe: rgb(140 130 120);
  --dark-taupe: rgb(120 110 100);
  --light-taupe: rgb(160 150 140);
  --white: rgb(255 255 255);
  --whitesmoke: rgb(245 245 245);
  --black-text-shadow: 0.1rem 0.1rem 0.1rem var(--black);
  --black-bold-text-shadow: 0.2rem 0.2rem 0.2rem var(--black);
  --cream-text-shadow: 0.1rem 0.1rem 0.1rem var(--cream);
  --grey-border: 0.2rem solid var(--grey);
  --thin-grey-border: 0.1rem solid var(--grey);
  --thick-grey-border: 0.3rem solid var(--grey);
}

@font-face {
  font-family: archivo;
  font-display: block;
  font-style: normal;
  font-weight: 400;
  src:
    local(''),
    url('/assets/fonts/archivo-v9-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: michroma;
  font-display: block;
  font-style: normal;
  font-weight: 400;
  src:
    local(''),
    url('/assets/fonts/michroma-v11-latin-regular.woff2') format('woff2');
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: url('/assets/images/background.webp') no-repeat center fixed;
  background-color: var(--black);
  background-size: cover;
  color: var(--black);
  font-family: var(--archivo);
  font-size: 1.6rem;
  line-height: 1.2;
  margin: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
}

button,
input,
select {
  font: inherit;
}

h1,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mapboxgl-ctrl-top-right {
  right: 0.3rem;
  top: 0.6rem;
}

.mapboxgl-marker.office {
  background-image: url('/assets/icons/office.png');
  height: 2.5rem;
  width: 2rem;
}

.mapboxgl-marker.places {
  background-image: url('/assets/icons/places.png');
  height: 2.5rem;
  width: 2rem;
}

.mapboxgl-marker.trails {
  background-image: url('/assets/icons/trails.png');
  height: 2.5rem;
  width: 2rem;
}

.mapboxgl-popup {
  max-width: 25rem;
}

.mapboxgl-popup-content > div.bold {
  font-weight: bold;
}

@media screen and (width <= 1366px) {
  body {
    background-position-y: -1rem;
  }
}

@media screen and (width <=1194px) {
  body {
    background-position-y: 0;
  }
}

@media screen and (orientation: portrait) and (width <=1024px) {
  body {
    background-position-y: -2.5rem;
  }
}

@media screen and (orientation: portrait) and (width <= 932px), (orientation: landscape) and (width <= 932px) {
  .mapboxgl-ctrl-top-right {
    right: -0.2rem;
    top: -1.6rem;
    transform: scale(0.8);
  }
}

@media screen and (orientation: portrait) and (width <= 844px) {
  body {
    background-position-y: -1.5rem;
  }
}

@media screen and (orientation: portrait) and (width <= 768px) {
  body {
    background-position-y: -1rem;
  }
}

@media screen and (width <=430px) {
  body {
    background-position-y: -0.5rem;
  }

  .mapboxgl-ctrl-top-right {
    right: -0.2rem;
    top: -0.9rem;
    transform: scale(0.9);
  }
}

@media screen and (width <=395px) {
  body {
    background-position-y: 0;
  }

  .mapboxgl-ctrl-top-right {
    top: -1.2rem;
    transform: scale(0.85);
  }
}

@media screen and (width <=360px) {
  .mapboxgl-ctrl-top-right {
    top: -1.7rem;
    transform: scale(0.8);
  }
}
