.credentials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-animation: fade-in 1s ease-out forwards;
  animation: fade-in 1s ease-out forwards;
  height: 100vh;
  width: 100vw;

  a,
  p {
    background: var(--taupe);
    border: var(--thick-grey-border);
    border-radius: var(--border-radius);
    color: var(--white);
    padding: 1rem 0;
    text-align: center;
    text-shadow: var(--black-text-shadow);
    width: 20rem;
  }

  a:hover {
    background: var(--dark-taupe);
  }

  p {
    &.active {
      color: var(--strong-red);
      cursor: default;
      font-weight: bold;
      text-shadow: none;
      width: 40rem;
    }

    &.inactive {
      display: none;
    }
  }

  button {
    border: var(--grey-border);
    border-radius: var(--border-radius);
    cursor: pointer;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    width: 7rem;

    &:hover {
      background: var(--dark-taupe);
      color: var(--white);
      text-shadow: var(--black-text-shadow);
    }
  }

  fieldset {
    background: var(--taupe);
    border: var(--thick-grey-border);
    border-radius: var(--border-radius);
    padding: 0.5rem 0;
    text-align: center;
    width: 40rem;
  }

  h1 {
    cursor: default;
    font-size: 2rem;
    font-weight: bold;
    margin: 0.5rem 0 1.5rem;
    text-shadow: var(--cream-text-shadow);
  }

  input {
    padding-left: 0.5rem;
    width: 26rem;
  }

  label {
    padding-right: 1rem;
  }

  .spacer {
    height: 1rem;
  }

  .doublespacer {
    height: 2rem;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (width <=1194px) {
  .credentials {
    transform: scale(0.9);
  }
}

@media screen and (width <=1024px) {
  .credentials {
    transform: scale(0.8);
  }
}

@media screen and (width <=932px) {
  .credentials {
    transform: scale(0.6);
  }
}

@media screen and (orientation: portrait) and (width <=1194px) {
  .credentials {
    transform: scale(0.9);
  }
}

@media screen and (width <=430px) {
  .credentials {
    transform: scale(0.5);
  }
}
