.header {
  position: fixed;
  display: flex;
  align-items: center;
  background: var(--dark-taupe);
  cursor: default;
  font-family: var(--michroma);
  height: 4.5rem;
  width: 100vw;

  img {
    height: 3.5rem;
    margin: 0.2rem 1rem 0;
    width: 3.5rem;
  }

  .name {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
    text-shadow: var(--cream-text-shadow);
  }

  .title {
    flex: 1;
    color: var(--whitesmoke);
    font-size: 2rem;
    margin-bottom: 0.3rem;
    margin-right: 1rem;
    text-align: center;
    text-shadow: var(--black-bold-text-shadow);
  }

  .repo {
    position: relative;
    margin-bottom: 0.3rem;
    right: 1.2rem;

    > a {
      color: var(--black);
      font-weight: bold;
      text-shadow: var(--cream-text-shadow);

      &:hover {
        color: var(--whitesmoke);
        font-weight: normal;
        text-shadow: var(--black-text-shadow);
      }
    }
  }
}

@media screen and (width <=1194px) {
  .header {
    .name {
      font-size: 1.8rem;
      margin-bottom: 0.1rem;
    }

    .title {
      font-size: 1.8rem;
      margin-bottom: 0.1rem;
    }

    .repo {
      font-size: 1.4rem;
      margin-bottom: 0;
    }
  }
}

@media screen and (width <=1024px) {
  .header {
    img {
      margin: 0.2rem 0.8rem 0 1rem;
    }

    .name {
      font-size: 1.6rem;
    }

    .title {
      font-size: 1.6rem;
    }

    .repo {
      font-size: 1.2rem;
    }
  }
}

@media screen and (width <= 932px) {
  .header {
    .name {
      font-size: 1.5rem;
    }

    .title {
      font-size: 1.5rem;
    }

    .repo {
      font-size: 1.1rem;
    }
  }
}

@media screen and (width <=844px) {
  .header {
    .name {
      font-size: 1.5rem;
    }

    .title {
      font-size: 1.5rem;
    }

    .repo {
      display: none;
    }
  }
}

@media screen and (width <=768px) {
  .header {
    .name {
      font-size: 1.4rem;
    }

    .title {
      font-size: 1.4rem;
    }
  }
}

@media screen and (width <=430px) {
  .header {
    .name {
      font-size: 1.2rem;
    }

    .title {
      font-size: 1.2rem;
      line-height: 1.35;
      margin-left: 1rem;
    }
  }
}

@media screen and (width <=395px) {
  .header {
    .name {
      font-size: 1.1rem;
    }

    .title {
      font-size: 1.1rem;
    }
  }
}

@media screen and (width <=360px) {
  .header {
    .name {
      font-size: 1rem;
    }

    .title {
      font-size: 1rem;
    }
  }
}
