.layer_element {
  position: absolute;
  -webkit-animation: fade-in 2s ease-out forwards;
  animation: fade-in 2s ease-out forwards;
  border: var(--grey-border);
  border-radius: var(--border-radius);
  cursor: pointer;
  left: 1rem;
  top: 6rem;
  width: 14rem;

  div {
    border: var(--thin-grey-border);
    padding: 0.7rem 0 0.6rem 4rem;
    text-shadow: var(--cream-text-shadow);
  }

  .active {
    background: var(--dark-taupe);
    color: var(--white);
    text-shadow: var(--black-text-shadow);
  }

  .inactive {
    background: var(--light-taupe);
    text-shadow: var(--cream-text-shadow);

    &:hover {
      background: var(--taupe);
      color: var(--white);
      text-shadow: var(--black-text-shadow);
    }
  }

  img:hover + .inactive {
    background: var(--taupe);
    color: var(--white);
    text-shadow: var(--black-text-shadow);
  }

  .biosphere-icon {
    position: absolute;
    margin: 0.9rem 0 0 1.3rem;
  }

  .deckgl-icon,
  .office-icon,
  .places-icon,
  .satellite-icon,
  .trails-icon {
    position: absolute;
    margin: 0.8rem 0 0 1.2rem;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (orientation: landscape) and (width <= 932px) {
  .layer_element {
    left: 0;
    top: 4.1rem;
    transform: scale(0.9);
  }
}

@media screen and (orientation: landscape) and (width <= 844px) {
  .layer_element {
    left: -0.5rem;
    top: 3.6rem;
    transform: scale(0.85);
  }
}

@media screen and (orientation: landscape) and (width <= 740px) {
  .layer_element {
    left: -0.6rem;
    top: 3.1rem;
    transform: scale(0.8);
  }
}

@media screen and (width <=430px) {
  .layer_element {
    left: 0;
    top: 4.1rem;
    transform: scale(0.9);
  }
}

@media screen and (width <=395px) {
  .layer_element {
    left: -0.3rem;
    top: 3.6rem;
    transform: scale(0.85);
  }
}

@media screen and (width <=360px) {
  .layer_element {
    left: -0.7rem;
    top: 3.1rem;
    transform: scale(0.8);
  }
}
