.trail {
  position: absolute;
  -webkit-animation: slide-in 1.5s ease-out forwards;
  animation: slide-in 1.5s ease-out forwards;
  border: var(--grey-border);
  cursor: pointer;
  left: 1rem;
  top: 28.5rem;
  width: 14.4rem;
}

@-webkit-keyframes slide-in {
  0% {
    transform: translate(-15rem);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes slide-in {
  0% {
    transform: translate(-15rem);
  }

  100% {
    transform: translate(0);
  }
}

@media screen and (width <=1536px) {
  .trail {
    font-size: 1.5rem;
  }
}

@media screen and (orientation: landscape) and (width <= 932px) {
  .trail {
    font-size: 1.4rem;
    margin-left: -0.2rem;
    top: 25.5rem;
    width: 12.8rem;
  }
}

@media screen and (orientation: landscape) and (width <= 844px) {
  .trail {
    font-size: 1.3rem;
    top: 24.5rem;
    width: 12rem;
  }
}

@media screen and (orientation: landscape) and (width <= 740px) {
  .trail {
    font-size: 1.2rem;
    top: 23.5rem;
    width: 11.6rem;
  }
}

@media screen and (width <=430px) {
  .trail {
    font-size: 1.4rem;
    margin-left: -0.2rem;
    top: 25.5rem;
    width: 12.8rem;
  }
}

@media screen and (width <=395px) {
  .trail {
    font-size: 1.3rem;
    top: 24.5rem;
    width: 12.1rem;
  }
}

@media screen and (width <=360px) {
  .trail {
    font-size: 1.2rem;
    top: 23.5rem;
    width: 11.3rem;
  }
}
