.footer {
  position: absolute;
  bottom: 1rem;
  color: var(--white);
  margin-bottom: 1.5rem;
  right: 1.5rem;
  width: 24rem;
}

.active {
  composes: footer;
  display: block;
}

.inactive {
  composes: footer;
  display: none;
}
